<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Emotion Recognition</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/static/base.js' type="text/javascript"></script> 
</head>
<body>
    <div class="column_home" id="left-col" align="center">
        <div style="width:70%; text-align:justify; align-content:center; display:inline-block;">
          <p> We take the video and predict the subject's emotion.</p>
          <br>
          <p> You will be provided a feedback on your facial emotions such as :
          <ul>
            <li>Anger</li>
            <li>Happy</li>
            <li>Sad</li>
            <li>Neutral</li>
          </ul>
          <br>
          <br>
        </div>
    </div>
<form action="/video" id="upload-file" method="post" enctype="multipart/form-data">
    <fieldset>
        <label for="file">Select a file</label>
        <input name="file" id="input_video" required="required" type="file" accept=".mp3, .mp4">
        <button type="submit">Predict</button>
    </fieldset>
</form>
<div class="column" id="left-col" align="center">
  <h3>Facial Emotions</h3>
    <br>
      {% if prob %}
      <p>Your most frequent emotion is : {{emotion}} </p>
      <br>
      <div class="parent">
        <ul align="left">
          <li>Anger : {{prob[0][0]*100}}%</li>
          <li>Neutral : {{prob[0][1]*100}}%</li>
          <li>Happy : {{prob[0][2]*100}}%</li>
          <li>Sad : {{prob[0][3]*100}}%</li>
        </ul>
      </div>
    <br>
  <br>
  {% endif %}
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$("#input_video").keyup(function(){
    var file = $(this).val();

    $.ajax({
      url: "/video",
      type: "get",
      data: {jsdata: file},
      success: function(response) {
        $("#place_for_suggestions").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script>

</body>
</html>