<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Emotion Recognition</title>
</head>
<body>
    <div class="column_home" id="left-col" align="center">
        <div style="width:70%; text-align:justify; align-content:center; display:inline-block;">
          <p> We take the video and predict the subject's emotion.</p>
          <br>
          <p> You will be provided a feedback on your facial emotions such as :
          <ul>
            <li>Anger</li>
            <li>Happiness</li>
            <li>Fear</li>
            <li>Sadness</li>
            <li>Surprise</li>
            <li>Disgust</li>
          </ul>
          <br>
          <br>
        </div>
    </div>
      <div class="column_home" id="left-col" align="center">
        <form action="/video" method="post" align="center">
        <input type="submit" name="video" value="Upload Video Here" align="center"  accept=".mp3">
        </form>
      </div>
</body>
</html>